pipeline/SCALE UP DB.json
{
	"name": "SCALE UP DB",
	"properties": {
		"activities": [
			{
				"name": "SCALE DB",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.subscriptions,'/resourceGroups/',pipeline().parameters.resourceGroups,'/providers/Microsoft.Synapse/workspaces/',pipeline().parameters.servers,'/sqlPools/',pipeline().parameters.databases,'?api-version=2021-06-01-preview')",
						"type": "Expression"
					},
					"method": "PUT",
					"headers": {
						"Content-Type": "application/json; charset=UTF-8"
					},
					"body": {
						"value": "{\n\tlocation: \"Southeast Asia\",\n    \"sku\": {\n    \"name\": \"DW200c\"\n            }\n}",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://management.core.windows.net/"
					}
				}
			},
			{
				"name": "SEND ERROR MESSAGE SCALE UP DB",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SCALE DB",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SEND ERROR EMAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ErrorMessage": {
							"value": "@activity('SCALE DB').Error.message",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"databases": {
				"type": "string",
				"defaultValue": "VUSDWHDEV"
			},
			"Subscriptions": {
				"type": "string",
				"defaultValue": "d607421b-81ca-426a-8942-2fd12f5c9611"
			},
			"ResourceGroups": {
				"type": "string",
				"defaultValue": "DWCLOUD-DEV"
			},
			"Servers": {
				"type": "string",
				"defaultValue": "vus-synapse-ws"
			}
		},
		"folder": {
			"name": "AZURE SYNAPSE"
		},
		"annotations": [],
		"lastPublishTime": "2022-07-31T04:04:40Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}