pipeline/VUS_SDE.json
{
	"name": "VUS_SDE",
	"properties": {
		"activities": [
			{
				"name": "VUS_SDE_GROUP_ASA 03",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "VUS_SDE_GROUP_ASA 03",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "VUS_SDE_GROUP_QLGV",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "VUS_SDE_GROUP_QLGV",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "VUS_SDE_GROUP_TQM 01",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "VUS_SDE_GROUP_TQM 01",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "VUS_SDE_GROUP_CRM",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "VUS_SDE_GROUP_QLGV",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "VUS_SDE_GROUP_CRM",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "VUS_SDE_GROUP_ASA 01",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "VUS_SDE_GROUP_ASA 01",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "VUS_SDE_GROUP_ASA 02",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "VUS_SDE_GROUP_ASA 02",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "VUS_SDE_GROUP_TQM 02",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "VUS_SDE_GROUP_TQM 02",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "SEND ERROR MESAGE SDE GROUP QLGV",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "VUS_SDE_GROUP_QLGV",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SEND ERROR EMAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ErrorMessage": {
							"value": "@activity('VUS_SDE_GROUP_QLGV').Error.message",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "SEND ERROR MESAGE SDE GROUP CRM",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "VUS_SDE_GROUP_CRM",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SEND ERROR EMAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ErrorMessage": {
							"value": "@activity('VUS_SDE_GROUP_CRM').Error.message",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "SEND ERROR MESAGE SDE GROUP ASA_03",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "VUS_SDE_GROUP_ASA 03",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SEND ERROR EMAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ErrorMessage": {
							"value": "@activity('VUS_SDE_GROUP_ASA 03').Error.message",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "SEND ERROR MESAGE SDE GROUP TQM 01",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "VUS_SDE_GROUP_TQM 01",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SEND ERROR EMAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ErrorMessage": {
							"value": "@activity('VUS_SDE_GROUP_TQM 01').Error.message",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "SEND ERROR MESAGE SDE GROUP ASA 01",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "VUS_SDE_GROUP_ASA 01",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SEND ERROR EMAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ErrorMessage": {
							"value": "@activity('VUS_SDE_GROUP_ASA 01').output.errors[0].Message",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "SEND ERROR MESAGE SDE GROUP ASA 02",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "VUS_SDE_GROUP_ASA 02",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SEND ERROR EMAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ErrorMessage": {
							"value": "@activity('VUS_SDE_GROUP_ASA 02').output.errors[0].Message",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "SEND ERROR MESAGE SDE GROUP TQM 02",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "VUS_SDE_GROUP_TQM 02",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SEND ERROR EMAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ErrorMessage": {
							"value": "@activity('VUS_SDE_GROUP_TQM 02').output.errors[0].Message",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"BATCH_ID": {
				"type": "string"
			}
		},
		"folder": {
			"name": "VUS_ETL"
		},
		"annotations": [],
		"lastPublishTime": "2022-05-29T13:22:31Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}