pipeline/VUS_ETL_MASTER.json
{
	"name": "VUS_ETL_MASTER",
	"properties": {
		"activities": [
			{
				"name": "SDE",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "VUS_SDE",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"BATCH_ID": {
							"value": "@pipeline().parameters.BATCH_ID",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "SIL",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SDE",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "VUS_SIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"BATCH_ID": {
							"value": "@pipeline().parameters.BATCH_ID",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "SIL GENERAL",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SIL",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "VUS_SIL_GENERAL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "VUS_PLP",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SIL GENERAL",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "VUS_PLP",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "SEND ERROR MESAGE SDE",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SDE",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SEND ERROR EMAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ErrorMessage": {
							"value": "@activity('SDE').Error.message",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "SEND ERROR MESAGE SIL",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SIL",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SEND ERROR EMAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ErrorMessage": {
							"value": "@activity('SIL').Error.message",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "SEND ERROR MESAGE SIL GENERAL",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SIL GENERAL",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SEND ERROR EMAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ErrorMessage": {
							"value": "@activity('SIL GENERAL').Error.message",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "SEND ERROR MESAGE PLP",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "VUS_PLP",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SEND ERROR EMAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ErrorMessage": {
							"value": "@activity('VUS_PLP').Error.message",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "SEND SUCCESS EMAIL",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "VUS_PLP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SEND SUCCESS EMAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"parameters": {
			"BATCH_ID": {
				"type": "string",
				"defaultValue": "19000101"
			}
		},
		"folder": {
			"name": "VUS_ETL"
		},
		"annotations": [],
		"lastPublishTime": "2022-06-06T15:40:34Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}