pipeline/VUS_SIL_ASA.json
{
	"name": "VUS_SIL_ASA",
	"properties": {
		"activities": [
			{
				"name": "VUS_SIL_GROUP_ASA 01",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "VUS_SIL_GROUP_ASA 01",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "VUS_SIL_GROUP_ASA 02",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "VUS_SIL_GROUP_ASA 02",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "VUS_SIL_GROUP_ASA 03",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "VUS_SIL_GROUP_ASA 03",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "SEND ERROR MESAGE SIL GROUP ASA 01",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "VUS_SIL_GROUP_ASA 01",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SEND ERROR EMAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ErrorMessage": {
							"value": "@activity('VUS_SIL_GROUP_ASA 01').output.errors[0].Message",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "SEND ERROR MESAGE SIL GROUP ASA 02",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "VUS_SIL_GROUP_ASA 02",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SEND ERROR EMAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ErrorMessage": {
							"value": "@activity('VUS_SIL_GROUP_ASA 02').output.errors[0].Message",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "SEND ERROR MESAGE SIL GROUP ASA 03",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "VUS_SIL_GROUP_ASA 03",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SEND ERROR EMAIL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ErrorMessage": {
							"value": "@activity('VUS_SIL_GROUP_ASA 03').output.errors[0].Message",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"BATCH_ID": {
				"type": "string",
				"defaultValue": "19000101"
			}
		},
		"folder": {
			"name": "VUS_ETL"
		},
		"annotations": [],
		"lastPublishTime": "2022-05-31T15:18:18Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}