VUS-adf-dev/linkedTemplates/ArmTemplate_3.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "VUS-adf-dev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/VUS_SIL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "VUS_SIL_GROUP_ASA 01",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SIL_GROUP_ASA 01",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VUS_SIL_GROUP_TQM 01",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SIL_GROUP_TQM 01",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VUS_SIL_GROUP_QLGV",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SIL_GROUP_QLGV",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VUS_SIL_GROUP_CRM",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "VUS_SIL_GROUP_QLGV",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SIL_GROUP_CRM",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VUS_SIL_GROUP_ASA 02",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SIL_GROUP_ASA 02",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VUS_SIL_GROUP_ASA 03",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SIL_GROUP_ASA 03",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VUS_SIL_GROUP_TQM 02",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SIL_GROUP_TQM 02",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"BATCH_ID": {
						"type": "string",
						"defaultValue": "19000101"
					}
				},
				"folder": {
					"name": "VUS_ETL"
				},
				"annotations": [],
				"lastPublishTime": "2022-05-29T13:30:52Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/VUS_SIL_ASA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "VUS_SIL_GROUP_ASA 01",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SIL_GROUP_ASA 01",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VUS_SIL_GROUP_ASA 02",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SIL_GROUP_ASA 02",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VUS_SIL_GROUP_ASA 03",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SIL_GROUP_ASA 03",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"BATCH_ID": {
						"type": "string",
						"defaultValue": "19000101"
					}
				},
				"folder": {
					"name": "VUS_ETL"
				},
				"annotations": [],
				"lastPublishTime": "2022-05-31T15:18:18Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ASA PIPELINE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "VUS_SDE_GROUP_ASA",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SDE_GROUP_ASA 03",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VUS_SIL_GROUP_ASA",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "VUS_SDE_GROUP_ASA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SIL_GROUP_ASA 01",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "VUS MASTER"
				},
				"annotations": [],
				"lastPublishTime": "2022-05-29T13:30:52Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/VUS_SDE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "VUS_SDE_GROUP_ASA 03",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SDE_GROUP_ASA 03",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VUS_SDE_GROUP_QLGV",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SDE_GROUP_QLGV",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VUS_SDE_GROUP_TQM 01",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SDE_GROUP_TQM 01",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VUS_SDE_GROUP_CRM",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "VUS_SDE_GROUP_QLGV",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SDE_GROUP_CRM",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VUS_SDE_GROUP_ASA 01",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SDE_GROUP_ASA 01",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VUS_SDE_GROUP_ASA 02",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SDE_GROUP_ASA 02",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VUS_SDE_GROUP_TQM 02",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SDE_GROUP_TQM 02",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"BATCH_ID": {
						"type": "string"
					}
				},
				"folder": {
					"name": "VUS_ETL"
				},
				"annotations": [],
				"lastPublishTime": "2022-05-29T13:22:31Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/VUS_SDE_ASA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "VUS_SDE_GROUP_ASA 03",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SDE_GROUP_ASA 03",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VUS_SDE_GROUP_ASA 01",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SDE_GROUP_ASA 01",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VUS_SDE_GROUP_ASA 02",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SDE_GROUP_ASA 02",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"BATCH_ID": {
						"type": "string"
					}
				},
				"folder": {
					"name": "VUS_ETL"
				},
				"annotations": [],
				"lastPublishTime": "2022-05-31T15:18:18Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ASA FULL PIPELINE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "START SYNAPSE",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "RESUME SYNAPSE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SET START BATCH TIME",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "SCALE UP DB",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "START_BATCH_TIME",
							"value": {
								"value": "@formatDateTime(addhours(utcnow(), 7), 'dd-MM-yyyy HH:mm:ss')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "START BATCH",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "SET START BATCH TIME",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[ADF].[proc_etl_start_batch]",
								"storedProcedureParameters": {
									"p_batch_type_id": {
										"type": "Int32",
										"value": "0"
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_DWH_SYNAPSE_ADF",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "A"
								}
							}
						}
					},
					{
						"name": "GET BATCH_ID",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "START BATCH",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "BATCH_ID",
							"value": {
								"value": "@string(activity('START BATCH').output.firstrow.AAA)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "END BATCH",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "VUS_PLP",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ADF].[proc_etl_end_batch]",
							"storedProcedureParameters": {
								"p_batch_id": {
									"value": {
										"value": "@variables('BATCH_ID')",
										"type": "Expression"
									},
									"type": "Int64"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_DWH_SYNAPSE_DEV",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "REFRESH AS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "END BATCH",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "REFRESH AS GENERAL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PAUSE SYNAPSE",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SCALE DOWN DB",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PAUSE SYNAPSE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VUS_SDE_ASA",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "GET BATCH_ID",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SDE_ASA",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VUS_SIL_ASA",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "VUS_SDE_ASA",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SIL_ASA",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VUS_PLP",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "VUS_SIL_ASA",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_PLP",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SCALE UP DB",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "START SYNAPSE",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SCALE UP DB",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SCALE DOWN DB",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "REFRESH AS",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SCALE DOWN DB",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"BATCH_ID": {
						"type": "String",
						"defaultValue": "0"
					},
					"CURRENT_DATA_TIME": {
						"type": "String"
					},
					"START_BATCH_TIME": {
						"type": "String"
					}
				},
				"folder": {
					"name": "VUS MASTER"
				},
				"annotations": [],
				"lastPublishTime": "2022-07-31T04:02:58Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/VUS_SDE_ASA')]",
				"[concat(variables('factoryId'), '/pipelines/VUS_SIL_ASA')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/VUS_ETL_MASTER')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SDE",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SDE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"BATCH_ID": {
									"value": "@pipeline().parameters.BATCH_ID",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "SIL",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SDE",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SIL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"BATCH_ID": {
									"value": "@pipeline().parameters.BATCH_ID",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "SIL GENERAL",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SIL",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SIL_GENERAL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VUS_PLP",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SIL GENERAL",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_PLP",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Notification Error",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SDE",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Send Notification",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"DataFactoryName": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								},
								"EmailTo": "nhely@vus-etsc.edu.vn;locpham@vus-etsc.edu.vn",
								"ErrorMessage": {
									"value": "@activity('SDE').Error.message",
									"type": "Expression"
								},
								"PipelineName": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"Status": "Success",
								"SuccessMessage": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"BATCH_ID": {
						"type": "string",
						"defaultValue": "19000101"
					}
				},
				"folder": {
					"name": "VUS_ETL"
				},
				"annotations": [],
				"lastPublishTime": "2022-06-06T15:40:34Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/VUS_SDE')]",
				"[concat(variables('factoryId'), '/pipelines/VUS_SIL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MASTER PIPELINE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "START SYNAPSE",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "RESUME SYNAPSE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"subscriptions": "d607421b-81ca-426a-8942-2fd12f5c9611",
								"resourceGroups": "DWCLOUD-DEV",
								"servers": "vus-synapse-ws",
								"databases": "VUSDWHDEV"
							}
						}
					},
					{
						"name": "SET START BATCH TIME",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "START SYNAPSE",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "START_BATCH_TIME",
							"value": {
								"value": "@formatDateTime(addhours(utcnow(), 7), 'dd-MM-yyyy HH:mm:ss')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "START BATCH",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "SET START BATCH TIME",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[ADF].[proc_etl_start_batch]",
								"storedProcedureParameters": {
									"p_batch_type_id": {
										"type": "Int32",
										"value": "0"
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_DWH_SYNAPSE_ADF",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "A"
								}
							}
						}
					},
					{
						"name": "GET BATCH_ID",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "START BATCH",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "BATCH_ID",
							"value": {
								"value": "@string(activity('START BATCH').output.firstrow.AAA)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "END BATCH",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "VUS_ETL_MASTER",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ADF].[proc_etl_end_batch]",
							"storedProcedureParameters": {
								"p_batch_id": {
									"value": {
										"value": "@variables('BATCH_ID')",
										"type": "Expression"
									},
									"type": "Int64"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_DWH_SYNAPSE_DEV",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PAUSE SYNAPSE",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "END BATCH",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PAUSE SYNAPSE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VUS_ETL_MASTER",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "GET BATCH_ID",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_ETL_MASTER",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"BATCH_ID": {
						"type": "String",
						"defaultValue": "0"
					},
					"CURRENT_DATA_TIME": {
						"type": "String"
					},
					"START_BATCH_TIME": {
						"type": "String"
					}
				},
				"folder": {
					"name": "VUS MASTER"
				},
				"annotations": [],
				"lastPublishTime": "2022-07-31T04:02:58Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/VUS_ETL_MASTER')]"
			]
		}
	]
}