vus-adf-prod/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "vus-adf-prod"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/VUS_SIL_GROUP_TQM 01')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup SRC List",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "SELECT [JOB_SCRIPT] AS [SRC_LIST], [SOURCE_TABLE] AS [SRC_TBL], [TARGET_TABLE] AS [TGT_TBL] \nFROM [ADF].[ETL_JOB] WHERE ACTIVE_FLG ='Y' and JOB_GROUP ='SIL' and JOB_SUB_GROUP ='SIL - TQM 01'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_DWH_SYNAPSE_STAGING",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "ADF.ETL_JOB"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup SRC List",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup SRC List').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set Source Script",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "Source_Script",
										"value": {
											"value": "@{Item().SRC_LIST}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "SIL Store Procedure",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Set Target Table",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": {
											"value": "@variables('Source_Script')",
											"type": "Expression"
										},
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_target_table": {
												"value": {
													"value": "@variables('Target_Table')",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Set Target Table",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set Source Script",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "Target_Table",
										"value": {
											"value": "@{Item().TGT_TBL}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "SEND ERROR MESSAGE",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Set Source Script",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Set Target Table",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "SIL Store Procedure",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "SEND ERROR EMAIL",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"ErrorMessage": {
												"value": "@item().errors[0].Message",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "SEND ERROR MESSAGE LOOKUP SRC LIST",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Lookup SRC List",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SEND ERROR EMAIL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ErrorMessage": {
									"value": "@activity('Lookup SRC List').output.errors[0].Message",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"BATCH_ID": {
						"type": "string",
						"defaultValue": "19000101"
					},
					"TGT_TABLE": {
						"type": "string"
					}
				},
				"variables": {
					"Source_Script": {
						"type": "String"
					},
					"Target_Table": {
						"type": "String"
					}
				},
				"folder": {
					"name": "VUS_ETL"
				},
				"annotations": [],
				"lastPublishTime": "2022-05-29T13:30:51Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/VUS_SIL_GROUP_TQM 02')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup SRC List",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "SELECT [JOB_SCRIPT] AS [SRC_LIST], [SOURCE_TABLE] AS [SRC_TBL], [TARGET_TABLE] AS [TGT_TBL] \nFROM [ADF].[ETL_JOB] WHERE ACTIVE_FLG ='Y' and JOB_GROUP ='SIL' and JOB_SUB_GROUP ='SIL - TQM 02'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_DWH_SYNAPSE_STAGING",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "ADF.ETL_JOB"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup SRC List",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup SRC List').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set Source Script",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "Source_Script",
										"value": {
											"value": "@{Item().SRC_LIST}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "SIL Store Procedure",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Set Target Table",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": {
											"value": "@variables('Source_Script')",
											"type": "Expression"
										},
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_target_table": {
												"value": {
													"value": "@variables('Target_Table')",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Set Target Table",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set Source Script",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "Target_Table",
										"value": {
											"value": "@{Item().TGT_TBL}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "SEND ERROR MESSAGE",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Set Source Script",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Set Target Table",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "SIL Store Procedure",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "SEND ERROR EMAIL",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"ErrorMessage": {
												"value": "@item().errors[0].Message",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "SEND ERROR MESSAGE LOOKUP SRC LIST",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Lookup SRC List",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SEND ERROR EMAIL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ErrorMessage": {
									"value": "@activity('Lookup SRC List').output.errors[0].Message",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"BATCH_ID": {
						"type": "string",
						"defaultValue": "19000101"
					},
					"TGT_TABLE": {
						"type": "string"
					}
				},
				"variables": {
					"Source_Script": {
						"type": "String"
					},
					"Target_Table": {
						"type": "String"
					}
				},
				"folder": {
					"name": "VUS_ETL"
				},
				"annotations": [],
				"lastPublishTime": "2022-05-29T13:30:51Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/VUS_SIL_GROUP_TQM')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup SRC List",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "SELECT [JOB_SCRIPT] AS [SRC_LIST], [SOURCE_TABLE] AS [SRC_TBL], [TARGET_TABLE] AS [TGT_TBL] \nFROM [ADF].[ETL_JOB] WHERE ACTIVE_FLG ='Y' and JOB_GROUP ='SIL' and JOB_SUB_GROUP ='SIL - TQM'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_DWH_SYNAPSE_STAGING",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "ADF.ETL_JOB"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup SRC List",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup SRC List').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set Source Script",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "Source_Script",
										"value": {
											"value": "@{Item().SRC_LIST}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "SIL Store Procedure",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Set Target Table",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": {
											"value": "@variables('Source_Script')",
											"type": "Expression"
										},
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_target_table": {
												"value": {
													"value": "@variables('Target_Table')",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Set Target Table",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set Source Script",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "Target_Table",
										"value": {
											"value": "@{Item().TGT_TBL}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "SEND ERROR MESSAGE",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Set Source Script",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Set Target Table",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "SIL Store Procedure",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "SEND ERROR EMAIL",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"ErrorMessage": {
												"value": "@item().errors[0].Message",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "SEND ERROR MESSAGE LOOKUP SRC LIST",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Lookup SRC List",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SEND ERROR EMAIL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ErrorMessage": {
									"value": "@activity('Lookup SRC List').output.errors[0].Message",
									"type": "Expression"
								}
							}
						}
					}
				],
				"concurrency": 6,
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"BATCH_ID": {
						"type": "string",
						"defaultValue": "19000101"
					},
					"TGT_TABLE": {
						"type": "string"
					}
				},
				"variables": {
					"Source_Script": {
						"type": "String"
					},
					"Target_Table": {
						"type": "String"
					}
				},
				"folder": {
					"name": "VUS_ETL"
				},
				"annotations": [],
				"lastPublishTime": "2022-06-29T16:45:08Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/VUS_Source')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "TQMCONNECTION",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"SCHEMA_NAME": {
						"type": "string"
					},
					"TABLE_NAME": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().SCHEMA_NAME",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().TABLE_NAME",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/4AM')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PAUSE SYNAPSE",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2022-05-21T17:50:00",
						"endTime": "2022-05-23T17:50:00",
						"timeZone": "SE Asia Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								4
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/VUS_PLP')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "VUS_PLP_GROUP_01",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "VUS_PLP_GROUP_00",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_PLP_GROUP_01",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VUS_PLP_GROUP_02",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "REBUILD INDEX",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_PLP_GROUP_02",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VUS_PLP_GROUP_00",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_PLP_GROUP_00",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "REBUILD INDEX",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "VUS_PLP_GROUP_01",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DWH].[proc_Rebuild_Index]",
							"storedProcedureParameters": {
								"p_batch_id": {
									"value": {
										"value": "@pipeline().parameters.BATCH_ID",
										"type": "Expression"
									},
									"type": "Int64"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_DWH_SYNAPSE_DEV",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "VUS_PLP_GROUP_03",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "VUS_PLP_GROUP_02",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_PLP_GROUP_03",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SEND ERROR MESAGE PLP GROUP 00",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "VUS_PLP_GROUP_00",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SEND ERROR EMAIL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ErrorMessage": {
									"value": "@activity('VUS_PLP_GROUP_00').output.errors[0].Message",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "SEND ERROR MESAGE PLP GROUP 01",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "VUS_PLP_GROUP_01",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SEND ERROR EMAIL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ErrorMessage": {
									"value": "@activity('VUS_PLP_GROUP_01').output.errors[0].Message\n",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "SEND ERROR MESAGE REBUILD INDEX",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "REBUILD INDEX",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SEND ERROR EMAIL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ErrorMessage": {
									"value": "@activity('REBUILD INDEX').output.errors[0].Message",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "SEND ERROR MESAGE PLP GROUP 02",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "VUS_PLP_GROUP_02",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SEND ERROR EMAIL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ErrorMessage": {
									"value": "@activity('VUS_PLP_GROUP_02').output.errors[0].Message",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "SEND ERROR MESAGE PLP GROUP 03",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "VUS_PLP_GROUP_03",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SEND ERROR EMAIL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ErrorMessage": {
									"value": "@activity('VUS_PLP_GROUP_03').output.errors[0].Message",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"BATCH_ID": {
						"type": "string",
						"defaultValue": "19000101"
					}
				},
				"folder": {
					"name": "VUS_ETL"
				},
				"annotations": [],
				"lastPublishTime": "2022-07-31T03:06:40Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/VUS_SDE_GROUP_ASA 01')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_SRC_List",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "select case when FULL_LOAD_FLG ='N' then JOB_SCRIPT +' and '+INCREMENTAL_COL +'>= dateadd(day,-'+convert(varchar(2),PRUNE_DAYS)+',getdate())' else JOB_SCRIPT end as SRC_LIST, [SOURCE_SCHEMA] as SRC_SCHEMA,[SOURCE_TABLE] as SRC_TBL,  [TARGET_TABLE] as TGT_TBL \nfrom [ADF].[ETL_JOB] WHERE ACTIVE_FLG ='Y' and JOB_GROUP ='SDE' and JOB_SUB_GROUP ='SDE - ASA 01'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_DWH_SYNAPSE_ADF",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "ETL_JOB"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_SRC_List",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_SRC_List').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set TGT Table",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "TGT_Table",
										"value": {
											"value": "@{Item().TGT_TBL}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Get JOB_ID",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Set TGT Table",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlDWSource",
											"sqlReaderQuery": {
												"value": "@concat('select JOB_ID from [ADF].[ETL_JOB] where TARGET_TABLE=''',variables('TGT_Table'),'''')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_DWH_SYNAPSE_ADF",
											"type": "DatasetReference",
											"parameters": {
												"TableName": "AAA"
											}
										}
									}
								},
								{
									"name": "Set Source Script",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "Source_Script",
										"value": {
											"value": "@{Item().SRC_LIST}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set SRC Table",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SRC_Table",
										"value": {
											"value": "@{Item().SRC_TBL}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Insert Log Before Load Data",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Set Source Script",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Get JOB_ID",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Set SRC Table",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Set SRC Schema",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_log_message]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_error_code": {
												"value": "",
												"type": "String"
											},
											"p_error_message": {
												"value": "",
												"type": "String"
											},
											"p_job_id": {
												"value": {
													"value": "@activity('Get JOB_ID').output.firstRow.JOB_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_log_message": {
												"value": {
													"value": "@concat('Start load table ',variables('TGT_Table'))",
													"type": "Expression"
												},
												"type": "String"
											},
											"p_log_status": {
												"value": "",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Copy data",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Insert Log Before Load Data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "@variables('Source_Script')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "SqlDWSink",
											"preCopyScript": {
												"value": "TRUNCATE TABLE [STG].[@{Item().TGT_TBL}]",
												"type": "Expression"
											},
											"allowPolyBase": true,
											"polyBaseSettings": {
												"rejectValue": 0,
												"rejectType": "value",
												"useTypeDefault": false
											},
											"disableMetricsCollection": false
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "LS_STORAGE_ACCOUNT_DEV",
												"type": "LinkedServiceReference"
											},
											"path": "logadf"
										}
									},
									"inputs": [
										{
											"referenceName": "VUS_Source",
											"type": "DatasetReference",
											"parameters": {
												"SCHEMA_NAME": "@variables('SRC_Schema')",
												"TABLE_NAME": "@variables('SRC_Table')"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_DWH_SYNAPSE_STAGING",
											"type": "DatasetReference",
											"parameters": {
												"TableName": {
													"value": "@variables('TGT_Table')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Insert Log Load Finish Data",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_log_message]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_error_code": {
												"value": "",
												"type": "String"
											},
											"p_error_message": {
												"value": "",
												"type": "String"
											},
											"p_job_id": {
												"value": {
													"value": "@activity('Get JOB_ID').output.firstRow.JOB_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_log_message": {
												"value": {
													"value": "@concat('Finished load table ',variables('TGT_Table'))",
													"type": "Expression"
												},
												"type": "String"
											},
											"p_log_status": {
												"value": "",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Insert Log Load Fail Data",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy data",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_log_message]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_error_code": {
												"value": "",
												"type": "String"
											},
											"p_error_message": {
												"value": "",
												"type": "String"
											},
											"p_job_id": {
												"value": {
													"value": "@activity('Get JOB_ID').output.firstRow.JOB_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_log_message": {
												"value": {
													"value": "@concat('Load fail table ',variables('TGT_Table'))",
													"type": "Expression"
												},
												"type": "String"
											},
											"p_log_status": {
												"value": "",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Update Batch_ID",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Insert Log Load Finish Data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_update_batch]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_table_name": {
												"value": {
													"value": "@variables('TGT_Table')",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Set SRC Schema",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SRC_Schema",
										"value": {
											"value": "@{Item().SRC_SCHEMA}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "SEND ERROR MESSAGE",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Set TGT Table",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Get JOB_ID",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Set Source Script",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Set SRC Table",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Set SRC Schema",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Insert Log Before Load Data",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Copy data",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Insert Log Load Finish Data",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Insert Log Load Fail Data",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Update Batch_ID",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "SEND ERROR EMAIL",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"ErrorMessage": {
												"value": "@item().errors[0].Message",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "SEND ERROR MESSAGE LOOKUP SRC LIST",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Lookup_SRC_List",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SEND ERROR EMAIL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ErrorMessage": {
									"value": "@activity('Lookup_SRC_List').output.errors[0].Message",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"BATCH_ID": {
						"type": "string",
						"defaultValue": "19000101"
					}
				},
				"variables": {
					"SOURCE": {
						"type": "String"
					},
					"Source_Script": {
						"type": "String"
					},
					"SRC_Table": {
						"type": "String"
					},
					"TGT_Table": {
						"type": "String"
					},
					"SRC_Schema": {
						"type": "String"
					}
				},
				"folder": {
					"name": "VUS_ETL"
				},
				"annotations": [],
				"lastPublishTime": "2022-05-29T13:16:13Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/VUS_Source')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/VUS_SDE_GROUP_ASA 02')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_SRC_List",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "select case when FULL_LOAD_FLG ='N' then JOB_SCRIPT +' and '+INCREMENTAL_COL +'>= dateadd(day,-'+convert(varchar(2),PRUNE_DAYS)+',getdate())' else JOB_SCRIPT end as SRC_LIST, [SOURCE_SCHEMA] as SRC_SCHEMA,[SOURCE_TABLE] as SRC_TBL,  [TARGET_TABLE] as TGT_TBL \nfrom [ADF].[ETL_JOB] WHERE ACTIVE_FLG ='Y' and JOB_GROUP ='SDE' and JOB_SUB_GROUP ='SDE - ASA 02'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_DWH_SYNAPSE_ADF",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "ETL_JOB"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_SRC_List",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_SRC_List').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set TGT Table",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "TGT_Table",
										"value": {
											"value": "@{Item().TGT_TBL}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Get JOB_ID",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Set TGT Table",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlDWSource",
											"sqlReaderQuery": {
												"value": "@concat('select JOB_ID from [ADF].[ETL_JOB] where TARGET_TABLE=''',variables('TGT_Table'),'''')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_DWH_SYNAPSE_ADF",
											"type": "DatasetReference",
											"parameters": {
												"TableName": "AAA"
											}
										}
									}
								},
								{
									"name": "Set Source Script",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "Source_Script",
										"value": {
											"value": "@{Item().SRC_LIST}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set SRC Table",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SRC_Table",
										"value": {
											"value": "@{Item().SRC_TBL}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Insert Log Before Load Data",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Set Source Script",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Get JOB_ID",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Set SRC Table",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Set SRC Schema",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_log_message]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_error_code": {
												"value": "",
												"type": "String"
											},
											"p_error_message": {
												"value": "",
												"type": "String"
											},
											"p_job_id": {
												"value": {
													"value": "@activity('Get JOB_ID').output.firstRow.JOB_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_log_message": {
												"value": {
													"value": "@concat('Start load table ',variables('TGT_Table'))",
													"type": "Expression"
												},
												"type": "String"
											},
											"p_log_status": {
												"value": "",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Copy data",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Insert Log Before Load Data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "@variables('Source_Script')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "SqlDWSink",
											"preCopyScript": {
												"value": "TRUNCATE TABLE [STG].[@{Item().TGT_TBL}]",
												"type": "Expression"
											},
											"allowPolyBase": true,
											"polyBaseSettings": {
												"rejectValue": 0,
												"rejectType": "value",
												"useTypeDefault": false
											},
											"disableMetricsCollection": false
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "LS_STORAGE_ACCOUNT_DEV",
												"type": "LinkedServiceReference"
											},
											"path": "logadf"
										}
									},
									"inputs": [
										{
											"referenceName": "VUS_Source",
											"type": "DatasetReference",
											"parameters": {
												"SCHEMA_NAME": "@variables('SRC_Schema')",
												"TABLE_NAME": "@variables('SRC_Table')"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_DWH_SYNAPSE_STAGING",
											"type": "DatasetReference",
											"parameters": {
												"TableName": {
													"value": "@variables('TGT_Table')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Insert Log Load Finish Data",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_log_message]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_error_code": {
												"value": "",
												"type": "String"
											},
											"p_error_message": {
												"value": "",
												"type": "String"
											},
											"p_job_id": {
												"value": {
													"value": "@activity('Get JOB_ID').output.firstRow.JOB_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_log_message": {
												"value": {
													"value": "@concat('Finished load table ',variables('TGT_Table'))",
													"type": "Expression"
												},
												"type": "String"
											},
											"p_log_status": {
												"value": "",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Insert Log Load Fail Data",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy data",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_log_message]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_error_code": {
												"value": "",
												"type": "String"
											},
											"p_error_message": {
												"value": "",
												"type": "String"
											},
											"p_job_id": {
												"value": {
													"value": "@activity('Get JOB_ID').output.firstRow.JOB_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_log_message": {
												"value": {
													"value": "@concat('Load fail table ',variables('TGT_Table'))",
													"type": "Expression"
												},
												"type": "String"
											},
											"p_log_status": {
												"value": "",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Update Batch_ID",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Insert Log Load Finish Data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_update_batch]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_table_name": {
												"value": {
													"value": "@variables('TGT_Table')",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Set SRC Schema",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SRC_Schema",
										"value": {
											"value": "@{Item().SRC_SCHEMA}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "SEND ERROR MESSAGE",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Set TGT Table",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Get JOB_ID",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Set Source Script",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Set SRC Table",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Set SRC Schema",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Insert Log Before Load Data",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Copy data",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Insert Log Load Fail Data",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Insert Log Load Finish Data",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Update Batch_ID",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "SEND ERROR EMAIL",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"ErrorMessage": {
												"value": "@item().errors[0].Message",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "SEND ERROR MESSAGE LOOKUP SRC LIST",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Lookup_SRC_List",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SEND ERROR EMAIL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ErrorMessage": {
									"value": "@activity('Lookup_SRC_List').output.errors[0].Message",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"BATCH_ID": {
						"type": "string",
						"defaultValue": "19000101"
					}
				},
				"variables": {
					"SOURCE": {
						"type": "String"
					},
					"Source_Script": {
						"type": "String"
					},
					"SRC_Table": {
						"type": "String"
					},
					"TGT_Table": {
						"type": "String"
					},
					"SRC_Schema": {
						"type": "String"
					}
				},
				"folder": {
					"name": "VUS_ETL"
				},
				"annotations": [],
				"lastPublishTime": "2022-05-29T13:16:12Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/VUS_Source')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/VUS_SDE_GROUP_ASA 03')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_SRC_List",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "\t\t   select case when FULL_LOAD_FLG ='N' then JOB_SCRIPT +' and '+INCREMENTAL_COL +'>= dateadd(day,-'+convert(varchar(2),PRUNE_DAYS)+',getdate())' else JOB_SCRIPT end as SRC_LIST, [SOURCE_SCHEMA] as SRC_SCHEMA,[SOURCE_TABLE] as SRC_TBL,  [TARGET_TABLE] as TGT_TBL \nfrom [ADF].[ETL_JOB] WHERE ACTIVE_FLG ='Y' and JOB_GROUP ='SDE' and JOB_SUB_GROUP ='SDE - ASA 03'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_DWH_SYNAPSE_ADF",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "ETL_JOB"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_SRC_List",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_SRC_List').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set TGT Table",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "TGT_Table",
										"value": {
											"value": "@{Item().TGT_TBL}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Get JOB_ID",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Set TGT Table",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlDWSource",
											"sqlReaderQuery": {
												"value": "@concat('select JOB_ID from [ADF].[ETL_JOB] where TARGET_TABLE=''',variables('TGT_Table'),'''')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_DWH_SYNAPSE_ADF",
											"type": "DatasetReference",
											"parameters": {
												"TableName": "AAA"
											}
										}
									}
								},
								{
									"name": "Set Source Script",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "Source_Script",
										"value": {
											"value": "@{Item().SRC_LIST}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set SRC Table",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SRC_Table",
										"value": {
											"value": "@{Item().SRC_TBL}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Insert Log Before Load Data",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Set Source Script",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Get JOB_ID",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Set SRC Table",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Set SRC Schema",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_log_message]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_error_code": {
												"value": "",
												"type": "String"
											},
											"p_error_message": {
												"value": "",
												"type": "String"
											},
											"p_job_id": {
												"value": {
													"value": "@activity('Get JOB_ID').output.firstRow.JOB_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_log_message": {
												"value": {
													"value": "@concat('Start load table ',variables('TGT_Table'))",
													"type": "Expression"
												},
												"type": "String"
											},
											"p_log_status": {
												"value": "",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Copy data",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Insert Log Before Load Data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "@variables('Source_Script')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "SqlDWSink",
											"preCopyScript": {
												"value": "TRUNCATE TABLE [STG].[@{Item().TGT_TBL}]",
												"type": "Expression"
											},
											"allowPolyBase": true,
											"polyBaseSettings": {
												"rejectValue": 0,
												"rejectType": "value",
												"useTypeDefault": false
											},
											"disableMetricsCollection": false
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "LS_STORAGE_ACCOUNT_DEV",
												"type": "LinkedServiceReference"
											},
											"path": "logadf"
										}
									},
									"inputs": [
										{
											"referenceName": "VUS_Source",
											"type": "DatasetReference",
											"parameters": {
												"SCHEMA_NAME": "@variables('SRC_Schema')",
												"TABLE_NAME": "@variables('SRC_Table')"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_DWH_SYNAPSE_STAGING",
											"type": "DatasetReference",
											"parameters": {
												"TableName": {
													"value": "@variables('TGT_Table')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Insert Log Load Finish Data",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_log_message]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_error_code": {
												"value": "",
												"type": "String"
											},
											"p_error_message": {
												"value": "",
												"type": "String"
											},
											"p_job_id": {
												"value": {
													"value": "@activity('Get JOB_ID').output.firstRow.JOB_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_log_message": {
												"value": {
													"value": "@concat('Finished load table ',variables('TGT_Table'))",
													"type": "Expression"
												},
												"type": "String"
											},
											"p_log_status": {
												"value": "",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Insert Log Load Fail Data",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy data",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_log_message]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_error_code": {
												"value": "",
												"type": "String"
											},
											"p_error_message": {
												"value": "",
												"type": "String"
											},
											"p_job_id": {
												"value": {
													"value": "@activity('Get JOB_ID').output.firstRow.JOB_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_log_message": {
												"value": {
													"value": "@concat('Load fail table ',variables('TGT_Table'))",
													"type": "Expression"
												},
												"type": "String"
											},
											"p_log_status": {
												"value": "",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Update Batch_ID",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Insert Log Load Finish Data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_update_batch]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_table_name": {
												"value": {
													"value": "@variables('TGT_Table')",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Set SRC Schema",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SRC_Schema",
										"value": {
											"value": "@{Item().SRC_SCHEMA}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "SEND ERROR MESSAGE",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Set TGT Table",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Get JOB_ID",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Set Source Script",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Set SRC Table",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Set SRC Schema",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Insert Log Before Load Data",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Copy data",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Insert Log Load Finish Data",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Insert Log Load Fail Data",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Update Batch_ID",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "SEND ERROR EMAIL",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"ErrorMessage": {
												"value": "@item().errors[0].Message",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "SEND ERROR MESSAGE LOOKUP SRC LIST",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Lookup_SRC_List",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SEND ERROR EMAIL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ErrorMessage": {
									"value": "@activity('Lookup_SRC_List').output.errors[0].Message",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"BATCH_ID": {
						"type": "string",
						"defaultValue": "19000101"
					}
				},
				"variables": {
					"SOURCE": {
						"type": "String"
					},
					"Source_Script": {
						"type": "String"
					},
					"SRC_Table": {
						"type": "String"
					},
					"TGT_Table": {
						"type": "String"
					},
					"SRC_Schema": {
						"type": "String"
					}
				},
				"folder": {
					"name": "VUS_ETL"
				},
				"annotations": [],
				"lastPublishTime": "2022-05-29T13:16:13Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/VUS_Source')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/VUS_SDE_GROUP_ASA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_SRC_List",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "\t\t   select case when FULL_LOAD_FLG ='N' then JOB_SCRIPT +' and '+INCREMENTAL_COL +'>= dateadd(day,-'+convert(varchar(2),PRUNE_DAYS)+',getdate())' else JOB_SCRIPT end as SRC_LIST, [SOURCE_SCHEMA] as SRC_SCHEMA,[SOURCE_TABLE] as SRC_TBL,  [TARGET_TABLE] as TGT_TBL \nfrom [ADF].[ETL_JOB] WHERE ACTIVE_FLG ='Y' and JOB_GROUP ='SDE' and JOB_SUB_GROUP ='SDE - ASA'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_DWH_SYNAPSE_ADF",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "ETL_JOB"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_SRC_List",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_SRC_List').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set TGT Table",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "TGT_Table",
										"value": {
											"value": "@{Item().TGT_TBL}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Get JOB_ID",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Set TGT Table",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlDWSource",
											"sqlReaderQuery": {
												"value": "@concat('select JOB_ID from [ADF].[ETL_JOB] where TARGET_TABLE=''',variables('TGT_Table'),'''')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_DWH_SYNAPSE_ADF",
											"type": "DatasetReference",
											"parameters": {
												"TableName": "AAA"
											}
										}
									}
								},
								{
									"name": "Set Source Script",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "Source_Script",
										"value": {
											"value": "@{Item().SRC_LIST}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set SRC Table",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SRC_Table",
										"value": {
											"value": "@{Item().SRC_TBL}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Insert Log Before Load Data",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Set Source Script",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Get JOB_ID",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Set SRC Table",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Set SRC Schema",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_log_message]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_error_code": {
												"value": "",
												"type": "String"
											},
											"p_error_message": {
												"value": "",
												"type": "String"
											},
											"p_job_id": {
												"value": {
													"value": "@activity('Get JOB_ID').output.firstRow.JOB_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_log_message": {
												"value": {
													"value": "@concat('Start load table ',variables('TGT_Table'))",
													"type": "Expression"
												},
												"type": "String"
											},
											"p_log_status": {
												"value": "",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Copy data",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Insert Log Before Load Data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "@variables('Source_Script')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "SqlDWSink",
											"preCopyScript": {
												"value": "TRUNCATE TABLE [STG].[@{Item().TGT_TBL}]",
												"type": "Expression"
											},
											"disableMetricsCollection": false
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "LS_STORAGE_ACCOUNT_DEV",
												"type": "LinkedServiceReference"
											},
											"path": ""
										}
									},
									"inputs": [
										{
											"referenceName": "VUS_Source",
											"type": "DatasetReference",
											"parameters": {
												"SCHEMA_NAME": "@variables('SRC_Schema')",
												"TABLE_NAME": "@variables('SRC_Table')"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_DWH_SYNAPSE_STAGING",
											"type": "DatasetReference",
											"parameters": {
												"TableName": {
													"value": "@variables('TGT_Table')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Insert Log Load Finish Data",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_log_message]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_error_code": {
												"value": "",
												"type": "String"
											},
											"p_error_message": {
												"value": "",
												"type": "String"
											},
											"p_job_id": {
												"value": {
													"value": "@activity('Get JOB_ID').output.firstRow.JOB_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_log_message": {
												"value": {
													"value": "@concat('Finished load table ',variables('TGT_Table'))",
													"type": "Expression"
												},
												"type": "String"
											},
											"p_log_status": {
												"value": "",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Insert Log Load Fail Data",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy data",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_log_message]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_error_code": {
												"value": "",
												"type": "String"
											},
											"p_error_message": {
												"value": "",
												"type": "String"
											},
											"p_job_id": {
												"value": {
													"value": "@activity('Get JOB_ID').output.firstRow.JOB_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_log_message": {
												"value": {
													"value": "@concat('Load fail table ',variables('TGT_Table'))",
													"type": "Expression"
												},
												"type": "String"
											},
											"p_log_status": {
												"value": "",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Update Batch_ID",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Insert Log Load Finish Data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_update_batch]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_table_name": {
												"value": {
													"value": "@variables('TGT_Table')",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Set SRC Schema",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SRC_Schema",
										"value": {
											"value": "@{Item().SRC_SCHEMA}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "SEND ERROR MESSAGE",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Set TGT Table",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Get JOB_ID",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Set Source Script",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Set SRC Table",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Set SRC Schema",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Insert Log Before Load Data",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Copy data",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Insert Log Load Finish Data",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Insert Log Load Fail Data",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Update Batch_ID",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "SEND ERROR EMAIL",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"ErrorMessage": {
												"value": "@item().errors[0].Message",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "SEND ERROR MESSAGE LOOKUP SRC LIST",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Lookup_SRC_List",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SEND ERROR EMAIL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ErrorMessage": {
									"value": "@activity('Lookup_SRC_List').output.errors[0].Message",
									"type": "Expression"
								}
							}
						}
					}
				],
				"concurrency": 3,
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"BATCH_ID": {
						"type": "string",
						"defaultValue": "19000101"
					}
				},
				"variables": {
					"SOURCE": {
						"type": "String"
					},
					"Source_Script": {
						"type": "String"
					},
					"SRC_Table": {
						"type": "String"
					},
					"TGT_Table": {
						"type": "String"
					},
					"SRC_Schema": {
						"type": "String"
					}
				},
				"folder": {
					"name": "VUS_ETL"
				},
				"annotations": [],
				"lastPublishTime": "2022-06-29T16:45:08Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/VUS_Source')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/VUS_SDE_GROUP_CRM')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_SRC_List",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "select case when FULL_LOAD_FLG ='N' then JOB_SCRIPT +' and '+INCREMENTAL_COL +'>= dateadd(day,-'+convert(varchar(2),PRUNE_DAYS)+',getdate())' else JOB_SCRIPT end as SRC_LIST, [SOURCE_SCHEMA] as SRC_SCHEMA,[SOURCE_TABLE] as SRC_TBL,  [TARGET_TABLE] as TGT_TBL \nfrom [ADF].[ETL_JOB] WHERE ACTIVE_FLG ='Y' and JOB_GROUP ='SDE' and JOB_SUB_GROUP ='SDE - CRM'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_DWH_SYNAPSE_ADF",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "ETL_JOB"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_SRC_List",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_SRC_List').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set TGT Table",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "TGT_Table",
										"value": {
											"value": "@{Item().TGT_TBL}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Get JOB_ID",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Set TGT Table",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlDWSource",
											"sqlReaderQuery": {
												"value": "@concat('select JOB_ID from [ADF].[ETL_JOB] where TARGET_TABLE=''',variables('TGT_Table'),'''')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_DWH_SYNAPSE_ADF",
											"type": "DatasetReference",
											"parameters": {
												"TableName": "AAA"
											}
										}
									}
								},
								{
									"name": "Set Source Script",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "Source_Script",
										"value": {
											"value": "@{Item().SRC_LIST}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set SRC Table",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SRC_Table",
										"value": {
											"value": "@{Item().SRC_TBL}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Insert Log Before Load Data",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Set Source Script",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Get JOB_ID",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Set SRC Table",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Set SRC Schema",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_log_message]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_error_code": {
												"value": "",
												"type": "String"
											},
											"p_error_message": {
												"value": "",
												"type": "String"
											},
											"p_job_id": {
												"value": {
													"value": "@activity('Get JOB_ID').output.firstRow.JOB_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_log_message": {
												"value": {
													"value": "@concat('Start load table ',variables('TGT_Table'))",
													"type": "Expression"
												},
												"type": "String"
											},
											"p_log_status": {
												"value": "",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Copy data",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Insert Log Before Load Data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "@variables('Source_Script')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "SqlDWSink",
											"preCopyScript": {
												"value": "TRUNCATE TABLE [STG].[@{Item().TGT_TBL}]",
												"type": "Expression"
											},
											"allowPolyBase": true,
											"polyBaseSettings": {
												"rejectValue": 0,
												"rejectType": "value",
												"useTypeDefault": false
											},
											"disableMetricsCollection": false
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "LS_STORAGE_ACCOUNT_DEV",
												"type": "LinkedServiceReference"
											},
											"path": "logadf"
										}
									},
									"inputs": [
										{
											"referenceName": "VUS_Source",
											"type": "DatasetReference",
											"parameters": {
												"SCHEMA_NAME": "@variables('SRC_Schema')",
												"TABLE_NAME": "@variables('SRC_Table')"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_DWH_SYNAPSE_STAGING",
											"type": "DatasetReference",
											"parameters": {
												"TableName": {
													"value": "@variables('TGT_Table')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Insert Log Load Finish Data",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_log_message]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_error_code": {
												"value": "",
												"type": "String"
											},
											"p_error_message": {
												"value": "",
												"type": "String"
											},
											"p_job_id": {
												"value": {
													"value": "@activity('Get JOB_ID').output.firstRow.JOB_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_log_message": {
												"value": {
													"value": "@concat('Finished load table ',variables('TGT_Table'))",
													"type": "Expression"
												},
												"type": "String"
											},
											"p_log_status": {
												"value": "",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Insert Log Load Fail Data",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy data",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_log_message]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_error_code": {
												"value": "",
												"type": "String"
											},
											"p_error_message": {
												"value": "",
												"type": "String"
											},
											"p_job_id": {
												"value": {
													"value": "@activity('Get JOB_ID').output.firstRow.JOB_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_log_message": {
												"value": {
													"value": "@concat('Load fail table ',variables('TGT_Table'))",
													"type": "Expression"
												},
												"type": "String"
											},
											"p_log_status": {
												"value": "",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Update Batch_ID",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Insert Log Load Finish Data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_update_batch]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_table_name": {
												"value": {
													"value": "@variables('TGT_Table')",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Set SRC Schema",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SRC_Schema",
										"value": {
											"value": "@{Item().SRC_SCHEMA}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "SEND ERROR MESSAGE",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Set TGT Table",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Get JOB_ID",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Set Source Script",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Set SRC Table",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Set SRC Schema",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Insert Log Before Load Data",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Copy data",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Insert Log Load Finish Data",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Insert Log Load Fail Data",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Update Batch_ID",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "SEND ERROR EMAIL",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"ErrorMessage": {
												"value": "@item().errors[0].Message",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "SEND ERROR MESSAGE LOOKUP SRC LIST",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Lookup_SRC_List",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SEND ERROR EMAIL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ErrorMessage": {
									"value": "@activity('Lookup_SRC_List').output.errors[0].Message",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"BATCH_ID": {
						"type": "string",
						"defaultValue": "19000101"
					}
				},
				"variables": {
					"SOURCE": {
						"type": "String"
					},
					"Source_Script": {
						"type": "String"
					},
					"SRC_Table": {
						"type": "String"
					},
					"TGT_Table": {
						"type": "String"
					},
					"SRC_Schema": {
						"type": "String"
					}
				},
				"folder": {
					"name": "VUS_ETL"
				},
				"annotations": [],
				"lastPublishTime": "2022-05-29T07:56:05Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/VUS_Source')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/VUS_SDE_GROUP_QLGV')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_SRC_List",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "select case when FULL_LOAD_FLG ='N' then JOB_SCRIPT +' and '+INCREMENTAL_COL +'>= dateadd(day,-'+convert(varchar(2),PRUNE_DAYS)+',getdate())' else JOB_SCRIPT end as SRC_LIST, [SOURCE_SCHEMA] as SRC_SCHEMA,[SOURCE_TABLE] as SRC_TBL,  [TARGET_TABLE] as TGT_TBL \nfrom [ADF].[ETL_JOB] WHERE ACTIVE_FLG ='Y' and JOB_GROUP ='SDE' and JOB_SUB_GROUP ='SDE - QLGV'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_DWH_SYNAPSE_ADF",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "ETL_JOB"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_SRC_List",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_SRC_List').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set TGT Table",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "TGT_Table",
										"value": {
											"value": "@{Item().TGT_TBL}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Get JOB_ID",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Set TGT Table",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlDWSource",
											"sqlReaderQuery": {
												"value": "@concat('select JOB_ID from [ADF].[ETL_JOB] where TARGET_TABLE=''',variables('TGT_Table'),'''')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_DWH_SYNAPSE_ADF",
											"type": "DatasetReference",
											"parameters": {
												"TableName": "AAA"
											}
										}
									}
								},
								{
									"name": "Set Source Script",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "Source_Script",
										"value": {
											"value": "@{Item().SRC_LIST}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set SRC Table",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SRC_Table",
										"value": {
											"value": "@{Item().SRC_TBL}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Insert Log Before Load Data",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Set Source Script",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Get JOB_ID",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Set SRC Table",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Set SRC Schema",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_log_message]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_error_code": {
												"value": "",
												"type": "String"
											},
											"p_error_message": {
												"value": "",
												"type": "String"
											},
											"p_job_id": {
												"value": {
													"value": "@activity('Get JOB_ID').output.firstRow.JOB_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_log_message": {
												"value": {
													"value": "@concat('Start load table ',variables('TGT_Table'))",
													"type": "Expression"
												},
												"type": "String"
											},
											"p_log_status": {
												"value": "",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Copy data",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Insert Log Before Load Data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "@variables('Source_Script')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "SqlDWSink",
											"preCopyScript": {
												"value": "TRUNCATE TABLE [STG].[@{Item().TGT_TBL}]",
												"type": "Expression"
											},
											"allowPolyBase": true,
											"polyBaseSettings": {
												"rejectValue": 0,
												"rejectType": "value",
												"useTypeDefault": false
											},
											"disableMetricsCollection": false
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "LS_STORAGE_ACCOUNT_DEV",
												"type": "LinkedServiceReference"
											},
											"path": "logadf"
										}
									},
									"inputs": [
										{
											"referenceName": "VUS_Source",
											"type": "DatasetReference",
											"parameters": {
												"SCHEMA_NAME": "@variables('SRC_Schema')",
												"TABLE_NAME": "@variables('SRC_Table')"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_DWH_SYNAPSE_STAGING",
											"type": "DatasetReference",
											"parameters": {
												"TableName": {
													"value": "@variables('TGT_Table')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Insert Log Load Finish Data",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_log_message]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_error_code": {
												"value": "",
												"type": "String"
											},
											"p_error_message": {
												"value": "",
												"type": "String"
											},
											"p_job_id": {
												"value": {
													"value": "@activity('Get JOB_ID').output.firstRow.JOB_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_log_message": {
												"value": {
													"value": "@concat('Finished load table ',variables('TGT_Table'))",
													"type": "Expression"
												},
												"type": "String"
											},
											"p_log_status": {
												"value": "",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Insert Log Load Fail Data",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy data",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_log_message]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_error_code": {
												"value": "",
												"type": "String"
											},
											"p_error_message": {
												"value": "",
												"type": "String"
											},
											"p_job_id": {
												"value": {
													"value": "@activity('Get JOB_ID').output.firstRow.JOB_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_log_message": {
												"value": {
													"value": "@concat('Load fail table ',variables('TGT_Table'))",
													"type": "Expression"
												},
												"type": "String"
											},
											"p_log_status": {
												"value": "",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Update Batch_ID",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Insert Log Load Finish Data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_update_batch]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_table_name": {
												"value": {
													"value": "@variables('TGT_Table')",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Set SRC Schema",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SRC_Schema",
										"value": {
											"value": "@{Item().SRC_SCHEMA}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "SEND ERROR MESSAGE",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Set TGT Table",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Get JOB_ID",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Set Source Script",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Set SRC Table",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Set SRC Schema",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Insert Log Before Load Data",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Copy data",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Insert Log Load Finish Data",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Update Batch_ID",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Insert Log Load Fail Data",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "SEND ERROR EMAIL",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"ErrorMessage": {
												"value": "@item().errors[0].Message",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "SEND ERROR MESSAGE LOOKUP SRC LIST",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Lookup_SRC_List",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SEND ERROR EMAIL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ErrorMessage": {
									"value": "@activity('Lookup_SRC_List').output.errors[0].Message",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"BATCH_ID": {
						"type": "string",
						"defaultValue": "19000101"
					}
				},
				"variables": {
					"SOURCE": {
						"type": "String"
					},
					"Source_Script": {
						"type": "String"
					},
					"SRC_Table": {
						"type": "String"
					},
					"TGT_Table": {
						"type": "String"
					},
					"SRC_Schema": {
						"type": "String"
					}
				},
				"folder": {
					"name": "VUS_ETL"
				},
				"annotations": [],
				"lastPublishTime": "2022-05-29T07:56:05Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/VUS_Source')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/VUS_SDE_GROUP_TQM 01')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_SRC_List",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "select case when FULL_LOAD_FLG ='N' then JOB_SCRIPT +' and '+INCREMENTAL_COL +'>= dateadd(day,-'+convert(varchar(2),PRUNE_DAYS)+',getdate())' else JOB_SCRIPT end as SRC_LIST, [SOURCE_SCHEMA] as SRC_SCHEMA,[SOURCE_TABLE] as SRC_TBL,  [TARGET_TABLE] as TGT_TBL \nfrom [ADF].[ETL_JOB] WHERE ACTIVE_FLG ='Y' and JOB_GROUP ='SDE' and JOB_SUB_GROUP  ='SDE - TQM 01'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_DWH_SYNAPSE_ADF",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "ETL_JOB"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_SRC_List",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_SRC_List').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set TGT Table",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "TGT_Table",
										"value": {
											"value": "@{Item().TGT_TBL}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Get JOB_ID",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Set TGT Table",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlDWSource",
											"sqlReaderQuery": {
												"value": "@concat('select JOB_ID from [ADF].[ETL_JOB] where TARGET_TABLE=''',variables('TGT_Table'),'''')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_DWH_SYNAPSE_ADF",
											"type": "DatasetReference",
											"parameters": {
												"TableName": "AAA"
											}
										}
									}
								},
								{
									"name": "Set Source Script",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "Source_Script",
										"value": {
											"value": "@{Item().SRC_LIST}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set SRC Table",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SRC_Table",
										"value": {
											"value": "@{Item().SRC_TBL}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Insert Log Before Load Data",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Set Source Script",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Get JOB_ID",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Set SRC Table",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Set SRC Schema",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_log_message]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_error_code": {
												"value": "",
												"type": "String"
											},
											"p_error_message": {
												"value": "",
												"type": "String"
											},
											"p_job_id": {
												"value": {
													"value": "@activity('Get JOB_ID').output.firstRow.JOB_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_log_message": {
												"value": {
													"value": "@concat('Start load table ',variables('TGT_Table'))",
													"type": "Expression"
												},
												"type": "String"
											},
											"p_log_status": {
												"value": "",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Copy data",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Insert Log Before Load Data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "@variables('Source_Script')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "SqlDWSink",
											"preCopyScript": {
												"value": "TRUNCATE TABLE [STG].[@{Item().TGT_TBL}]",
												"type": "Expression"
											},
											"allowPolyBase": true,
											"polyBaseSettings": {
												"rejectValue": 0,
												"rejectType": "value",
												"useTypeDefault": false
											},
											"disableMetricsCollection": false
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "LS_STORAGE_ACCOUNT_DEV",
												"type": "LinkedServiceReference"
											},
											"path": "logadf"
										}
									},
									"inputs": [
										{
											"referenceName": "VUS_Source",
											"type": "DatasetReference",
											"parameters": {
												"SCHEMA_NAME": "@variables('SRC_Schema')",
												"TABLE_NAME": "@variables('SRC_Table')"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_DWH_SYNAPSE_STAGING",
											"type": "DatasetReference",
											"parameters": {
												"TableName": {
													"value": "@variables('TGT_Table')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Insert Log Load Finish Data",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_log_message]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_error_code": {
												"value": "",
												"type": "String"
											},
											"p_error_message": {
												"value": "",
												"type": "String"
											},
											"p_job_id": {
												"value": {
													"value": "@activity('Get JOB_ID').output.firstRow.JOB_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_log_message": {
												"value": {
													"value": "@concat('Finished load table ',variables('TGT_Table'))",
													"type": "Expression"
												},
												"type": "String"
											},
											"p_log_status": {
												"value": "",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Insert Log Load Fail Data",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy data",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_log_message]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_error_code": {
												"value": "",
												"type": "String"
											},
											"p_error_message": {
												"value": "",
												"type": "String"
											},
											"p_job_id": {
												"value": {
													"value": "@activity('Get JOB_ID').output.firstRow.JOB_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_log_message": {
												"value": {
													"value": "@concat('Load fail table ',variables('TGT_Table'))",
													"type": "Expression"
												},
												"type": "String"
											},
											"p_log_status": {
												"value": "",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Update Batch_ID",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Insert Log Load Finish Data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_update_batch]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_table_name": {
												"value": {
													"value": "@variables('TGT_Table')",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Set SRC Schema",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SRC_Schema",
										"value": {
											"value": "@{Item().SRC_SCHEMA}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "SEND ERROR MESSAGE",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Set TGT Table",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Get JOB_ID",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Set Source Script",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Set SRC Table",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Set SRC Schema",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Insert Log Before Load Data",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Copy data",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Insert Log Load Finish Data",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Insert Log Load Fail Data",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Update Batch_ID",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "SEND ERROR EMAIL",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"ErrorMessage": {
												"value": "@item().errors[0].Message",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "SEND ERROR MESSAGE LOOKUP SRC LIST",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Lookup_SRC_List",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SEND ERROR EMAIL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ErrorMessage": {
									"value": "@activity('Lookup_SRC_List').output.errors[0].Message",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"BATCH_ID": {
						"type": "string",
						"defaultValue": "19000101"
					}
				},
				"variables": {
					"SOURCE": {
						"type": "String"
					},
					"Source_Script": {
						"type": "String"
					},
					"SRC_Table": {
						"type": "String"
					},
					"TGT_Table": {
						"type": "String"
					},
					"SRC_Schema": {
						"type": "String"
					}
				},
				"folder": {
					"name": "VUS_ETL"
				},
				"annotations": [],
				"lastPublishTime": "2022-05-29T13:22:31Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/VUS_Source')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/VUS_SDE_GROUP_TQM 02')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_SRC_List",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "select case when FULL_LOAD_FLG ='N' then JOB_SCRIPT +' and '+INCREMENTAL_COL +'>= dateadd(day,-'+convert(varchar(2),PRUNE_DAYS)+',getdate())' else JOB_SCRIPT end as SRC_LIST, [SOURCE_SCHEMA] as SRC_SCHEMA,[SOURCE_TABLE] as SRC_TBL,  [TARGET_TABLE] as TGT_TBL \nfrom [ADF].[ETL_JOB] WHERE ACTIVE_FLG ='Y' and JOB_GROUP ='SDE' and JOB_SUB_GROUP  ='SDE - TQM 02'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_DWH_SYNAPSE_ADF",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "ETL_JOB"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_SRC_List",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_SRC_List').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set TGT Table",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "TGT_Table",
										"value": {
											"value": "@{Item().TGT_TBL}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Get JOB_ID",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Set TGT Table",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlDWSource",
											"sqlReaderQuery": {
												"value": "@concat('select JOB_ID from [ADF].[ETL_JOB] where TARGET_TABLE=''',variables('TGT_Table'),'''')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_DWH_SYNAPSE_ADF",
											"type": "DatasetReference",
											"parameters": {
												"TableName": "AAA"
											}
										}
									}
								},
								{
									"name": "Set Source Script",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "Source_Script",
										"value": {
											"value": "@{Item().SRC_LIST}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set SRC Table",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SRC_Table",
										"value": {
											"value": "@{Item().SRC_TBL}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Insert Log Before Load Data",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Set Source Script",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Get JOB_ID",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Set SRC Table",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Set SRC Schema",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_log_message]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_error_code": {
												"value": "",
												"type": "String"
											},
											"p_error_message": {
												"value": "",
												"type": "String"
											},
											"p_job_id": {
												"value": {
													"value": "@activity('Get JOB_ID').output.firstRow.JOB_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_log_message": {
												"value": {
													"value": "@concat('Start load table ',variables('TGT_Table'))",
													"type": "Expression"
												},
												"type": "String"
											},
											"p_log_status": {
												"value": "",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Copy data",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Insert Log Before Load Data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "@variables('Source_Script')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "SqlDWSink",
											"preCopyScript": {
												"value": "TRUNCATE TABLE [STG].[@{Item().TGT_TBL}]",
												"type": "Expression"
											},
											"allowPolyBase": true,
											"polyBaseSettings": {
												"rejectValue": 0,
												"rejectType": "value",
												"useTypeDefault": false
											},
											"disableMetricsCollection": false
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "LS_STORAGE_ACCOUNT_DEV",
												"type": "LinkedServiceReference"
											},
											"path": "logadf"
										}
									},
									"inputs": [
										{
											"referenceName": "VUS_Source",
											"type": "DatasetReference",
											"parameters": {
												"SCHEMA_NAME": "@variables('SRC_Schema')",
												"TABLE_NAME": "@variables('SRC_Table')"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_DWH_SYNAPSE_STAGING",
											"type": "DatasetReference",
											"parameters": {
												"TableName": {
													"value": "@variables('TGT_Table')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Insert Log Load Finish Data",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_log_message]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_error_code": {
												"value": "",
												"type": "String"
											},
											"p_error_message": {
												"value": "",
												"type": "String"
											},
											"p_job_id": {
												"value": {
													"value": "@activity('Get JOB_ID').output.firstRow.JOB_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_log_message": {
												"value": {
													"value": "@concat('Finished load table ',variables('TGT_Table'))",
													"type": "Expression"
												},
												"type": "String"
											},
											"p_log_status": {
												"value": "",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Insert Log Load Fail Data",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy data",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_log_message]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_error_code": {
												"value": "",
												"type": "String"
											},
											"p_error_message": {
												"value": "",
												"type": "String"
											},
											"p_job_id": {
												"value": {
													"value": "@activity('Get JOB_ID').output.firstRow.JOB_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_log_message": {
												"value": {
													"value": "@concat('Load fail table ',variables('TGT_Table'))",
													"type": "Expression"
												},
												"type": "String"
											},
											"p_log_status": {
												"value": "",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Update Batch_ID",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Insert Log Load Finish Data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_update_batch]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_table_name": {
												"value": {
													"value": "@variables('TGT_Table')",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Set SRC Schema",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SRC_Schema",
										"value": {
											"value": "@{Item().SRC_SCHEMA}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "SEND ERROR MESSAGE",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Set TGT Table",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Get JOB_ID",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Set Source Script",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Set SRC Table",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Set SRC Schema",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Insert Log Before Load Data",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Copy data",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Insert Log Load Fail Data",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Insert Log Load Finish Data",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Update Batch_ID",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "SEND ERROR EMAIL",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"ErrorMessage": {
												"value": "@item().errors[0].Message",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "SEND ERROR MESSAGE LOOKUP SRC LIST",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Lookup_SRC_List",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SEND ERROR EMAIL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ErrorMessage": {
									"value": "@activity('Lookup_SRC_List').output.errors[0].Message",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"BATCH_ID": {
						"type": "string",
						"defaultValue": "19000101"
					}
				},
				"variables": {
					"SOURCE": {
						"type": "String"
					},
					"Source_Script": {
						"type": "String"
					},
					"SRC_Table": {
						"type": "String"
					},
					"TGT_Table": {
						"type": "String"
					},
					"SRC_Schema": {
						"type": "String"
					}
				},
				"folder": {
					"name": "VUS_ETL"
				},
				"annotations": [],
				"lastPublishTime": "2022-05-29T13:22:31Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/VUS_Source')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/VUS_SDE_GROUP_TQM')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_SRC_List",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "select case when FULL_LOAD_FLG ='N' then JOB_SCRIPT +' and '+INCREMENTAL_COL +'>= dateadd(day,-'+convert(varchar(2),PRUNE_DAYS)+',getdate())' else JOB_SCRIPT end as SRC_LIST, [SOURCE_SCHEMA] as SRC_SCHEMA,[SOURCE_TABLE] as SRC_TBL,  [TARGET_TABLE] as TGT_TBL \nfrom [ADF].[ETL_JOB] WHERE ACTIVE_FLG ='Y' and JOB_GROUP ='SDE' and JOB_SUB_GROUP  ='SDE - TQM'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_DWH_SYNAPSE_ADF",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "ETL_JOB"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_SRC_List",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_SRC_List').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set TGT Table",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "TGT_Table",
										"value": {
											"value": "@{Item().TGT_TBL}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Get JOB_ID",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Set TGT Table",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlDWSource",
											"sqlReaderQuery": {
												"value": "@concat('select JOB_ID from [ADF].[ETL_JOB] where TARGET_TABLE=''',variables('TGT_Table'),'''')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_DWH_SYNAPSE_ADF",
											"type": "DatasetReference",
											"parameters": {
												"TableName": "AAA"
											}
										}
									}
								},
								{
									"name": "Set Source Script",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "Source_Script",
										"value": {
											"value": "@{Item().SRC_LIST}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set SRC Table",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SRC_Table",
										"value": {
											"value": "@{Item().SRC_TBL}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Insert Log Before Load Data",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Set Source Script",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Get JOB_ID",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Set SRC Table",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Set SRC Schema",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_log_message]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_error_code": {
												"value": "",
												"type": "String"
											},
											"p_error_message": {
												"value": "",
												"type": "String"
											},
											"p_job_id": {
												"value": {
													"value": "@activity('Get JOB_ID').output.firstRow.JOB_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_log_message": {
												"value": {
													"value": "@concat('Start load table ',variables('TGT_Table'))",
													"type": "Expression"
												},
												"type": "String"
											},
											"p_log_status": {
												"value": "",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Copy data",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Insert Log Before Load Data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "@variables('Source_Script')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "SqlDWSink",
											"preCopyScript": {
												"value": "TRUNCATE TABLE [STG].[@{Item().TGT_TBL}]",
												"type": "Expression"
											},
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "LS_STORAGE_ACCOUNT_DEV",
												"type": "LinkedServiceReference"
											},
											"path": "adfstagedpolybasetempdata"
										}
									},
									"inputs": [
										{
											"referenceName": "VUS_Source",
											"type": "DatasetReference",
											"parameters": {
												"SCHEMA_NAME": "@variables('SRC_Schema')",
												"TABLE_NAME": "@variables('SRC_Table')"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_DWH_SYNAPSE_STAGING",
											"type": "DatasetReference",
											"parameters": {
												"TableName": {
													"value": "@variables('TGT_Table')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Insert Log Load Finish Data",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_log_message]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_error_code": {
												"value": "",
												"type": "String"
											},
											"p_error_message": {
												"value": "",
												"type": "String"
											},
											"p_job_id": {
												"value": {
													"value": "@activity('Get JOB_ID').output.firstRow.JOB_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_log_message": {
												"value": {
													"value": "@concat('Finished load table ',variables('TGT_Table'))",
													"type": "Expression"
												},
												"type": "String"
											},
											"p_log_status": {
												"value": "",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Insert Log Load Fail Data",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy data",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_log_message]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_error_code": {
												"value": "",
												"type": "String"
											},
											"p_error_message": {
												"value": "",
												"type": "String"
											},
											"p_job_id": {
												"value": {
													"value": "@activity('Get JOB_ID').output.firstRow.JOB_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_log_message": {
												"value": {
													"value": "@concat('Load fail table ',variables('TGT_Table'))",
													"type": "Expression"
												},
												"type": "String"
											},
											"p_log_status": {
												"value": "",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Update Batch_ID",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Insert Log Load Finish Data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[ADF].[proc_etl_update_batch]",
										"storedProcedureParameters": {
											"p_batch_id": {
												"value": {
													"value": "@pipeline().parameters.BATCH_ID",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"p_table_name": {
												"value": {
													"value": "@variables('TGT_Table')",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_DWH_SYNAPSE_DEV",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Set SRC Schema",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "SRC_Schema",
										"value": {
											"value": "@{Item().SRC_SCHEMA}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "SEND ERROR MESSAGE",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Set TGT Table",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Get JOB_ID",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Set Source Script",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Set SRC Table",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Set SRC Schema",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Insert Log Before Load Data",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Copy data",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Insert Log Load Finish Data",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Insert Log Load Fail Data",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "Update Batch_ID",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "SEND ERROR EMAIL",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"ErrorMessage": {
												"value": "@item().errors[0].Message",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "SEND ERROR MESSAGE LOOKUP SRC LIST",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Lookup_SRC_List",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SEND ERROR EMAIL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ErrorMessage": {
									"value": "@activity('Lookup_SRC_List').output.errors[0].Message",
									"type": "Expression"
								}
							}
						}
					}
				],
				"concurrency": 6,
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"BATCH_ID": {
						"type": "string",
						"defaultValue": "19000101"
					}
				},
				"variables": {
					"SOURCE": {
						"type": "String"
					},
					"Source_Script": {
						"type": "String"
					},
					"SRC_Table": {
						"type": "String"
					},
					"TGT_Table": {
						"type": "String"
					},
					"SRC_Schema": {
						"type": "String"
					}
				},
				"folder": {
					"name": "VUS_ETL"
				},
				"annotations": [],
				"lastPublishTime": "2022-06-29T16:45:08Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/VUS_Source')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/VUS_SIL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "VUS_SIL_GROUP_ASA 01",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SIL_GROUP_ASA 01",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VUS_SIL_GROUP_TQM 01",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SIL_GROUP_TQM 01",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VUS_SIL_GROUP_QLGV",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SIL_GROUP_QLGV",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VUS_SIL_GROUP_CRM",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "VUS_SIL_GROUP_QLGV",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SIL_GROUP_CRM",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VUS_SIL_GROUP_ASA 02",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SIL_GROUP_ASA 02",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VUS_SIL_GROUP_ASA 03",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SIL_GROUP_ASA 03",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VUS_SIL_GROUP_TQM 02",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SIL_GROUP_TQM 02",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SEND ERROR MESAGE SIL GROUP QLGV",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "VUS_SIL_GROUP_QLGV",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SEND ERROR EMAIL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ErrorMessage": {
									"value": "@activity('VUS_SIL_GROUP_QLGV').output.errors[0].Message",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "SEND ERROR MESAGE SIL GROUP CRM",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "VUS_SIL_GROUP_CRM",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SEND ERROR EMAIL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ErrorMessage": {
									"value": "@activity('VUS_SIL_GROUP_CRM').output.errors[0].Message",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "SEND ERROR MESAGE SIL GROUP ASA 01",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "VUS_SIL_GROUP_ASA 01",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SEND ERROR EMAIL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ErrorMessage": {
									"value": "@activity('VUS_SIL_GROUP_ASA 01').output.errors[0].Message",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "SEND ERROR MESAGE SIL GROUP TQM 01",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "VUS_SIL_GROUP_TQM 01",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SEND ERROR EMAIL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ErrorMessage": {
									"value": "@activity('VUS_SIL_GROUP_TQM 01').output.errors[0].Message",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "SEND ERROR MESAGE SIL GROUP ASA 02",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "VUS_SIL_GROUP_ASA 02",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SEND ERROR EMAIL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ErrorMessage": {
									"value": "@activity('VUS_SIL_GROUP_ASA 02').output.errors[0].Message",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "SEND ERROR MESAGE SIL GROUP ASA 03",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "VUS_SIL_GROUP_ASA 03",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SEND ERROR EMAIL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ErrorMessage": {
									"value": "@activity('VUS_SIL_GROUP_ASA 03').output.errors[0].Message",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "SEND ERROR MESAGE SIL GROUP TQM 02",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "VUS_SIL_GROUP_TQM 02",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SEND ERROR EMAIL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ErrorMessage": {
									"value": "@activity('VUS_SIL_GROUP_TQM 02').output.errors[0].Message",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"BATCH_ID": {
						"type": "string",
						"defaultValue": "19000101"
					}
				},
				"folder": {
					"name": "VUS_ETL"
				},
				"annotations": [],
				"lastPublishTime": "2022-05-29T13:30:52Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/VUS_SIL_GROUP_TQM 01')]",
				"[concat(variables('factoryId'), '/pipelines/VUS_SIL_GROUP_TQM 02')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/VUS_SIL_ASA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "VUS_SIL_GROUP_ASA 01",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SIL_GROUP_ASA 01",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VUS_SIL_GROUP_ASA 02",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SIL_GROUP_ASA 02",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VUS_SIL_GROUP_ASA 03",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SIL_GROUP_ASA 03",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SEND ERROR MESAGE SIL GROUP ASA 01",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "VUS_SIL_GROUP_ASA 01",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SEND ERROR EMAIL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ErrorMessage": {
									"value": "@activity('VUS_SIL_GROUP_ASA 01').output.errors[0].Message",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "SEND ERROR MESAGE SIL GROUP ASA 02",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "VUS_SIL_GROUP_ASA 02",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SEND ERROR EMAIL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ErrorMessage": {
									"value": "@activity('VUS_SIL_GROUP_ASA 02').output.errors[0].Message",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "SEND ERROR MESAGE SIL GROUP ASA 03",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "VUS_SIL_GROUP_ASA 03",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SEND ERROR EMAIL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ErrorMessage": {
									"value": "@activity('VUS_SIL_GROUP_ASA 03').output.errors[0].Message",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"BATCH_ID": {
						"type": "string",
						"defaultValue": "19000101"
					}
				},
				"folder": {
					"name": "VUS_ETL"
				},
				"annotations": [],
				"lastPublishTime": "2022-05-31T15:18:18Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ASA PIPELINE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "VUS_SDE_GROUP_ASA",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SDE_GROUP_ASA 03",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VUS_SIL_GROUP_ASA",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "VUS_SDE_GROUP_ASA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SIL_GROUP_ASA 01",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SEND ERROR MESSAGE VUS_SDE_GROUP_ASA",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "VUS_SDE_GROUP_ASA",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SEND ERROR EMAIL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ErrorMessage": {
									"value": "@activity('VUS_SDE_GROUP_ASA').output.errors[0].Message",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "SEND ERROR MESSAGE VUS_SIL_GROUP_ASA",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "VUS_SIL_GROUP_ASA",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SEND ERROR EMAIL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ErrorMessage": {
									"value": "@activity('VUS_SIL_GROUP_ASA').output.errors[0].Message",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "VUS MASTER"
				},
				"annotations": [],
				"lastPublishTime": "2022-05-29T13:30:52Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/VUS_SDE_GROUP_ASA 03')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/VUS_SDE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "VUS_SDE_GROUP_ASA 03",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SDE_GROUP_ASA 03",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VUS_SDE_GROUP_QLGV",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SDE_GROUP_QLGV",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VUS_SDE_GROUP_TQM 01",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SDE_GROUP_TQM 01",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VUS_SDE_GROUP_CRM",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "VUS_SDE_GROUP_QLGV",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SDE_GROUP_CRM",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VUS_SDE_GROUP_ASA 01",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SDE_GROUP_ASA 01",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VUS_SDE_GROUP_ASA 02",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SDE_GROUP_ASA 02",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VUS_SDE_GROUP_TQM 02",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SDE_GROUP_TQM 02",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SEND ERROR MESAGE SDE GROUP QLGV",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "VUS_SDE_GROUP_QLGV",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SEND ERROR EMAIL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ErrorMessage": {
									"value": "@activity('VUS_SDE_GROUP_QLGV').output.errors[0].Message",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "SEND ERROR MESAGE SDE GROUP CRM",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "VUS_SDE_GROUP_CRM",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SEND ERROR EMAIL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ErrorMessage": {
									"value": "@activity('VUS_SDE_GROUP_CRM').output.errors[0].Message",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "SEND ERROR MESAGE SDE GROUP ASA_03",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "VUS_SDE_GROUP_ASA 03",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SEND ERROR EMAIL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ErrorMessage": {
									"value": "@activity('VUS_SDE_GROUP_ASA 03').output.errors[0].Message",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "SEND ERROR MESAGE SDE GROUP TQM 01",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "VUS_SDE_GROUP_TQM 01",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SEND ERROR EMAIL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ErrorMessage": {
									"value": "@activity('VUS_SDE_GROUP_TQM 01').output.errors[0].Message",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "SEND ERROR MESAGE SDE GROUP ASA 01",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "VUS_SDE_GROUP_ASA 01",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SEND ERROR EMAIL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ErrorMessage": {
									"value": "@activity('VUS_SDE_GROUP_ASA 01').output.errors[0].Message",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "SEND ERROR MESAGE SDE GROUP ASA 02",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "VUS_SDE_GROUP_ASA 02",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SEND ERROR EMAIL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ErrorMessage": {
									"value": "@activity('VUS_SDE_GROUP_ASA 02').output.errors[0].Message",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "SEND ERROR MESAGE SDE GROUP TQM 02",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "VUS_SDE_GROUP_TQM 02",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SEND ERROR EMAIL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ErrorMessage": {
									"value": "@activity('VUS_SDE_GROUP_TQM 02').output.errors[0].Message",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"BATCH_ID": {
						"type": "string"
					}
				},
				"folder": {
					"name": "VUS_ETL"
				},
				"annotations": [],
				"lastPublishTime": "2022-05-29T13:22:31Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/VUS_SDE_GROUP_ASA 03')]",
				"[concat(variables('factoryId'), '/pipelines/VUS_SDE_GROUP_QLGV')]",
				"[concat(variables('factoryId'), '/pipelines/VUS_SDE_GROUP_TQM 01')]",
				"[concat(variables('factoryId'), '/pipelines/VUS_SDE_GROUP_CRM')]",
				"[concat(variables('factoryId'), '/pipelines/VUS_SDE_GROUP_ASA 01')]",
				"[concat(variables('factoryId'), '/pipelines/VUS_SDE_GROUP_ASA 02')]",
				"[concat(variables('factoryId'), '/pipelines/VUS_SDE_GROUP_TQM 02')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/VUS_SDE_ASA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "VUS_SDE_GROUP_ASA 03",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SDE_GROUP_ASA 03",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VUS_SDE_GROUP_ASA 01",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SDE_GROUP_ASA 01",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VUS_SDE_GROUP_ASA 02",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VUS_SDE_GROUP_ASA 02",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SEND ERROR MESAGE SDE GROUP ASA 02",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "VUS_SDE_GROUP_ASA 02",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SEND ERROR EMAIL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ErrorMessage": {
									"value": "@activity('VUS_SDE_GROUP_ASA 02').output.errors[0].Message",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "SEND ERROR MESAGE SDE GROUP ASA 01",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "VUS_SDE_GROUP_ASA 01",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SEND ERROR EMAIL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ErrorMessage": {
									"value": "@activity('VUS_SDE_GROUP_ASA 01').output.errors[0].Message",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "SEND ERROR MESAGE SDE GROUP ASA_03",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "VUS_SDE_GROUP_ASA 03",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SEND ERROR EMAIL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ErrorMessage": {
									"value": "@activity('VUS_SDE_GROUP_ASA 03').output.errors[0].Message",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"BATCH_ID": {
						"type": "string"
					}
				},
				"folder": {
					"name": "VUS_ETL"
				},
				"annotations": [],
				"lastPublishTime": "2022-05-31T15:18:18Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/VUS_SDE_GROUP_ASA 03')]",
				"[concat(variables('factoryId'), '/pipelines/VUS_SDE_GROUP_ASA 01')]",
				"[concat(variables('factoryId'), '/pipelines/VUS_SDE_GROUP_ASA 02')]"
			]
		}
	]
}